<form method="post">
  <table>
    <tr>
      <td>Name:</td>
      <td><input type="text" name="name" /></td>
    </tr>
    <tr>
      <td>sub1:</td>
      <td><input type="text" name="sub1" /></td>
    </tr>
    <tr>
      <td>sub2:</td>
      <td><input type="text" name="sub2" /></td>
    </tr>
    <tr>
      <td>sub3:</td>
      <td><input type="text" name="sub3" /></td>
    </tr>
    <tr>
      <td>sub4:</td>
      <td><input type="text" name="sub4" /></td>
    </tr>
    <tr>
      <td>sub5:</td>
      <td><input type="text" name="sub5" /></td>
    </tr>
    <tr>
      <td></td>
      <td><input type="submit" value="save" id="" /></td>
    </tr>
  </table>

  <table border="1">
    <th>Id</th>
    <th>Name</th>
    <th>sub1</th>
    <th>sub2</th>
    <th>sub3</th>
    <th>sub4</th>
    <th>sub5</th>
    <th>Total</th>
    <th>avg</th>
    <th>min</th>
    <th>max</th>
    <th>Result</th>
    <th>Update</th>
    <th>Delete</th>




    <% result.forEach(function(std_result){ %>
    <tr>
      <td><%= std_result.id%></td>
      <td><%= std_result.name%></td>
      <td><%= std_result.sub1%></td>
      <td><%= std_result.sub2%></td>
      <td><%= std_result.sub3%></td>
      <td><%= std_result.sub4%></td>
      <td><%= std_result.sub5%></td>
      <td><%= std_result.total%></td>
      <td><%= std_result.avg%></td>
      <td><%= std_result.min%></td>
      <td><%= std_result.max%></td>
      <td><%= std_result.result%></td>
      <td><a href="/update/<%= std_result.id%>">update</a></td>
      <td><a href="/delete/<%= std_result.id%>">delete</a></td>
    </tr>
    <% }); %>
  </table>
</form>
